{% extends "base.html" %}
{%block title%}Clean Blog - About{%endblock%}

 

{%block content%}

<body>

   
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{LINK}}img/t.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Newsica</h1>
                        <hr class="small">
                        <span class="subheading">A webpage only for Students</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>At newsica you can get the latest news directly with all important details and links.It provide you important
                education changes happening around the wordl which may b related to
                <ul>
                    <li>schools</li>
                    <li>colleges</li>
                    <li>university</li>
                    <li>govt exams</li>
                </ul>
                <p>Apart from that Newsica brings the amazing shoping deals for from all online stores according to the needs and choices of the youth</p>  
            </div>
        </div>
    </div>

    <hr>
{%endblock%}
    <!-- Footer --

</body>

</html>