{% extends "base.html" %}
{% block title %}Confirm_delet{% endblock %}

{%block content%}
<style>
</style>
<br>
<br>
<ul>
</ul>
{%if var %}
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                        <form method="POST" action=".">{% csrf_token %}
                        <h2 class="post-title">
                           Do you want to delet the<br><li> "{{var.title|safe}}"</li>
                        </h2>
                        <input type="submit" value="confirm" class="btn btn-primany">
                        <a href='/dis{{var.get_absolute_url}}' class='btn btn-default'>Cancel</a>
                        </form> 
                        <!-- <h3 class="post-subtitle">
                           {%if var.upload %}
                            <a  href="{{ vars.upload.url }}" ><img src="{{ vars.upload.url }}" class="img-thumbnail" width="304" height="236"></a>
                            {%endif%}
                            {{var.content}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="/user">{{var.user}} </a>{{ time}}</p>
                    
                {% load disqus_tags %}
                {% disqus_show_comments %}
            </div>
        </div>
    </div> -->
{%endif%}
{%endblock%}