{%extends "base.html"%}
{%block title%}Registration Successfull{%endblock%}
{%block head%}Registration Completed Successfully{%endblock%}
{%block content%}
<header class="intro-header" style="background-image: url('{{LINK}}img/uploads/d.jpg')">  
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2 STYLE=" color: #000;font-size:50px">Successfully Registered</h2>
                        <hr class="small">
                        <span class="subheading" STYLE="font-size:21px">Thank you user.
your information has saved in database.Now either you can either <a href="/login/">Login</a> or go to <a href="/" >home.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>


{%endblock%}
