{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<br><br><br><br><br>
<form  style="text-align:center;" class="form-signup" action="." method="post">
<p>
{% if messages %}
<ul class="a">
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
 </ul>
{% endif %}
</p>
{% csrf_token %}
<div class="fieldWrapper">    
        {{ form.email.errors }}            
       
        {{ form.email }}
</div>   
 
<br>
<input type="submit" name="submit" class="btn btn-primary" value="Submit">
<p>Please specify your email address to receive instructions for resetting it.</p>
{% endblock %}