{%extends "base.html"%}
{%block title%}Registration{%endblock%}
{%block head%}One more step for creation of account{%endblock%}
{%block content%}
<header class="intro-header" style="background-image: url('{{LINK}}img/uploads/e.jpg')">  
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2 STYLE=" color: #000;font-size:50px">Verify Your Email</h2>
                        <hr class="small">
                        <span class="subheading" STYLE="font-size:21px">Thank you user.Now go to the mail account you provided and activate your account.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


{%endblock%}
