{% extends "base.html" %}
{%block title%}SignUp{%endblock%}
{% block content %}
<form  style="text-align:center;" class="form-signup" action="." method="post">
{% csrf_token %}
    <br><br>
    <h2>Create your account</h2>
 <p>
{% if messages %}
<ul class="a">
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
 </ul>
{% endif %}
</p>

    <div class="fieldWrapper">
        <label>First name</label><br>
        {{ form.first_name }}
    </div>    
    <br>
    <div class="fieldWrapper">
        <label>Last name</label><br>						
        {{ form.last_name }}
    </div>    
    <br>
    <div class="fieldWrapper">    
        {{ form.email.errors }}            
        <label>E-mail</label><br>
        {{ form.email }}
    </div>    
    <br>
    <div class="fieldWrapper">
    {{form.errors.values.0}}                
        <label>Username</label><br>
        {{ form.username }}
    </div>
    <br>
    <div class="fieldWrapper">        
        {{form.errors.values.1}}            
        <label>Password</label><br>                    
        {{ form.password1 }}
    </div>
    <br>
    <div class="fieldWrapper">           
        <label>Password again</label><br>
        {{ form.password2 }}
    </div>            
    <br></br>
    <input type="submit" name="submit" class="btn btn-primary" value="Create account">
   <br>

  
   <h5>Or sign in using</h5>
   <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                                <span class="fa-stack fa-lg">
                                   
                                    <i class="fa fa-google" style="font-size:68px;"></i>

                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
</a>


</form>
{%endblock%}

